
h1 {
    text-align: center;
    color: rgb(26, 69, 189);
    font-family:Arial;
    font-size:XX-large;
}
form {
    padding: 10px;
    background-color: rgb(217, 239, 207);
}
h2 {
    text-align: center;
    color: rgb(21, 71, 6);
    font-family:Arial;
    font-size:x-large;
}
input {
    padding: 4px;
    text-align: justify;  
}
button {
    border: 2px solid rgb(52, 52, 52); 
    padding: 4px;
    text-align: justify;
 
}
h5 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:Arial;
    font-size:x-large;
    padding: 10px;
    background-color: rgb(51, 135, 245);
}
